{% extends 'tracks/base.html'%}

{% block content %}
    <h1>{{ track }}</h1>

    {% if segments %}
        <ul>
        {% for segment in segments %}
            <li>{{ segment.segment }}</li>

            {% if segment.points %}
                <ul>
                {% for point in segment.points %}
                    <li>{{ point }}</li>
                {% endfor %}
                </ul>

            {% endif %}

        {% endfor %}
        </ul>
    {% else %}
        <p>Empty track.</p>
    {% endif %}

{% endblock %}
