{% extends 'tracks/base.html'%}

{% block content %}

    <h1>tracks</h1>

    {% if tracks %}
        <ul>
        {% for track in tracks %}
            <li>
                <a href="{% url 'tracks:detail' track.id %}">{{ track }}</a><br>
                dowload as: <a href="{% url 'tracks:get_gpx' track.id %}">gpx</a> <a href="{% url 'tracks:get_geojson' track.id %}">geojson</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>no tracks here.</p>
    {% endif %}

    {% if loggedIn %}

        <h1>new track</h1>
        <p>
            <form action="{% url 'tracks:new_track' %}" method="post">
            {% csrf_token %}
                <input type="text" placeholder="paste gpx here..." name="raw_gpx" />
                <input type="submit" value="insert">
            </form>
        <p>
    {% endif %}

{% endblock %}
